.page-home {
  min-height: 100vh;
  width: inherit;
  .home__content {
    margin: auto;
  }
  .home__main {
    color: $three;
    .main__content {
      min-height: 100vh;
      display: flex;
      margin: auto;
      justify-content: center;
      flex-direction: column;
      .content__name {
        display: inline-block;
        font-size: 25px;
        font-family: $font-animated;

        letter-spacing: 1px;
        color: $two;
      }
      .content__short-intro {
        font-size: 4rem;
        font-weight: bold;
        font-family: $font-main2;
        letter-spacing: 1px;

        span {
          -webkit-text-stroke-width: 1.5px;
          -webkit-text-stroke-color: $three;
          -webkit-text-fill-color: $one;
        }
      }
    }
  }

  @include respond(mobile) {
    .home__main {
      .main--wrapper {
        align-items: center;
      }
      .main__content {
        padding: 0 1rem;
        width: unset;
        margin: unset;

        .content__short-intro {
          font-size: 2.5rem;
        }
      }
    }
  }
}
