.page-projects-container {
  margin: 3rem 0;
  padding: 3rem 0;

  .projects__header {
    font-family: $font-main2;
    color: $six;
    font-size: 4rem;
    span {
      -webkit-text-stroke-width: 1.5px;
      -webkit-text-stroke-color: $six;
      -webkit-text-fill-color: $one;
    }
  }

  .projects {
    .project__item {
      display: flex;

      .project__info {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 0 1rem;
        h2 {
          font-family: $font-main2;
          color: $six;
        }
        div,
        p {
          letter-spacing: 1px;
          font-family: $font-main3;
          font-size: 1.125rem;
        }
        div {
          color: $white-smoke;
        }
        p {
          margin-top: 1rem;
          color: $two;
        }
      }
      .project__links {
        display: flex;
        span {
          cursor: pointer;
          display: flex;
          align-items: center;
          color: $white-smoke;
          margin-right: 1rem;

          svg {
            margin-right: 10px;
          }
        }
      }
    }
  }
  .projects__notif {
    text-align: center;
    padding: 2rem;
    color: $two;

    font-size: 1.5rem;
    font-family: $font-main3;
  }
}
.projects__nav {
  background-color: $sailor-blue !important;
  color: $white;
  text-align: center;
  span {
    &:hover {
      color: $white;
    }
  }
}
