.contact-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  height: 100vh;
  padding: 0 1rem;

  svg {
    cursor: pointer;
    color: $two;
    margin: 1rem 0;
  }
}
