@import "./vars.scss";

@import "./pages/home.scss";
@import "./pages/about.scss";
@import "./pages/projects.scss";

@import "./components/navbar.scss";
@import "./components/layout.scss";
@import "./components/modal.scss";
@import "./components/projectContent.scss";
@import "./components/contact.scss";
@import "./components/about.scss";

@import "../node_modules/bootstrap/scss/bootstrap.scss";

@import url("https://fonts.googleapis.com/css2?family=Bangers&family=Do+Hyeon&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,700;1,400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,500;1,400&display=swap");

html {
  font-size: 16px;
}
body {
  margin: 0;
  min-height: 100vh;
  background-color: $one;
}
main {
  width: 100%;
}

footer {
  font-family: $font-main3;
  color: $white-smoke;
  letter-spacing: 1.5px;

  h2 {
    font-family: $font-main2;
  }
  .quote-header {
    font-size: 1.25rem;
    border-bottom: 1px solid $white;
  }
  .quote-container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    .quote {
      font-size: 1.2rem;
      margin-top: 1rem;
    }
  }
  .btn {
    &:focus {
      outline: none;
      box-shadow: unset;
    }
  }
  .form-control {
    &:focus {
      outline: 0;
      border-color: unset;
    }
  }
}
