$white: #ffffff;
$black: #000000;
$soft-black: #353839;

$mint: #adefd1ff;
$dark-violet: #704466;
$light-violet: #b2b2d5;
$sailor-blue: #00203fff;
$light-sailor-blue: #003466;
$light-blue: #6699ff;
$semi-dark-blue: #3366cc;
$dark-blue: #003399;
$gray: #29312a;
$dark-white: #f8f8f8;
$dirty-white: #fff8dc;
$white-smoke: #dcdcdc;

$one: #272727;
$two: #747474;
$three: #ff652f;
$four: #ffff9f;
$five: #14a76c;
$six: #8b4789;

$font-main: "Do Hyeon", sans-serif;
$font-animated: "Bangers", cursive;
$font-main2: "Montserrat", sans-serif;
$font-main3: "Raleway", sans-serif;

$tablet: 786px;

// mixins
@mixin respond($breakpoint) {
  @if $breakpoint==tablet {
    @media screen and (max-width: 600px) {
      @content;
    }
  }
  @if $breakpoint==mobile {
    @media screen and (max-width: 480px) {
      @content;
    }
  }
}
