$white: #ffffff;
$black: #000000;
$soft-black: #353839;

$mint: #adefd1ff;
$dark-violet: #704466;
$light-violet: #b2b2d5;
$sailor-blue: #00203fff;
$light-blue: #6699ff;
$semi-dark-blue: #3366cc;
$dark-blue: #003399;
$gray: #29312a;
$dark-white: "#F8F8F8";
$dirtyWhite: "#FFF8DC";

$font-main: "Do Hyeon", sans-serif;
$font-animated: "Bangers", cursive;

$tablet: 786px;

// mixins
@mixin respond($breakpoint) {
  @if $breakpoint==tablet {
    @media screen and (max-width: 600px) {
      @content;
    }
  }
  @if $breakpoint==mobile {
    @media screen and (max-width: 480px) {
      @content;
    }
  }
}
